h3, h4, p, span, label{
    color: #666666;}
    
footer{
    height: 100%;
}

button{
    background: none;
    border: none;
    outline: none;
}
.line{
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background-color: #e8e8e8;
}

main{
    width: 1200px;
    margin: 0 auto;
}

.scheduleForm{
    display: flex;
    width: 980px;
    margin: 0 auto 40px auto;
    justify-content: space-between;
   
}
.scheduleForm >img{
    width: 260px;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}
.title{
    width: 980px;
    margin: 40px auto 30px auto;
}

.scheduleForm>.info-box{
    position: relative;
    width: 700px;
    height: 200px;
}


.scheduleForm>.info-box>h4{
    margin-bottom: 20px;
    color: #448899;
}

.scheduleForm>.info-box>button{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.scheduleForm>.info-box>div{
    margin-bottom: 10px;
 
}
.scheduleForm>.info-box label{
    font-weight: bold;
}


/* 實際要輸入的表單內容 */
.booking-order{
    display: none;
}
.booking-order.show{
    display: block;
}


.booking-order :is(.info,.pay-info){
    width: 980px;
    margin: 0 auto;
}

.booking-order>.info>h3{
    margin-bottom: 20px;
}

.booking-order>.info>div{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


.booking-order :is(input, .field){
    width: 200px;
    padding: 5px;
    border:1px solid #E8E8E8;
    border-radius: 5px;
    height: 35px;
    
}
.booking-order :is(.field){
    color: #757575;
}

.booking-order :is(h3,.creditcard-group,.expiration-date-group,.csv-group){
    display: flex;
    margin-bottom: 15px;
}

.booking-order p{
    font-weight: bold;
}

/* 確認欄位 */
.confirm{
    height: 100px;
    width: 980px;
    margin: 0 auto 40px;
}

.confirm *{
    margin-left: auto;
}

.confirm p{
    margin-bottom: 20px;
    width: fit-content;
}

.confirm button{
    display: block;
    background: #448899;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/* .confirm button:disabled{
    background: rgb(168, 168, 168);
    cursor: auto;
} */

.error-message{
    color: rgb(255, 30, 0);

}


@media (max-width:1200px){
    main{
        width: 100%;
        padding: 0 10px;
    }
    
}

@media (max-width:980px){
    .title{
        width: 100%;
    }
    .booking-box>h4{
        width: 100%;
    }
    .scheduleForm{
        width: 100%;
    }
    .scheduleForm>.info{
        width: calc(100% - 280px);
    }
    .booking-order, .booking-order :is(.info, .confirm){
        width: 100%;
    }
}

@media (max-width:550px){
    .scheduleForm{
        flex-wrap: wrap;
        width: 100%;
    }
    .scheduleForm>img{
        width: 100%;
        height: 70%;
    }
    .scheduleForm>.info{
        margin-top: 20px;
        width: 100%;
    }

    .scheduleForm>.info>button{
        bottom: 0;
        top: auto;
    }
}