
.desktop{
    width: 100%;
    height: 320px;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);


    
}

.desktop>div{
    background-image: url("/static/icons/welcome\ 1.png");
    background-repeat: no-repeat;
    background-position: top right ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    width: 1200px;
    margin: 0px auto;

}
.desktop>div>div{
    margin-bottom: 25px;
}
.desktop form{
    display: flex;
}
.desktop input{
    width: 400px;
    height: 46px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    background: #FFFFFF;
    color: #757575;
    font-family: "Noto Sans TC", sans-serif;
    border:none;
    border-radius: 5px 0 0 5px;
   
    
}
.btn{
 
    background-color: #448899;
    width: 60px;
    height: 46px;
    color: #ffffff;
    border:none;
    border-radius: 0 5px 5px 0;
    font-size: large;


}
.btn >img{
    margin: 8px 15px 8px 12px;

}

.desktop h3{
    font-size: 28px;
    color: #F8F8F8;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-shadow: 0px 0px 30px #AABBCC;
}
.desktop p{
    color: #F8F8F8;
}

.content {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap:15px;
    width: 1200px;
    margin: auto;
    padding: 55px 0px;
    grid-template-columns: repeat(4, minmax(270px, 1fr));
}

.content>.box {
 
    width: 271px;
    height: 242px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
}

.content>.box> a>img {
    width: 270px;
    height: 170px;
    border-radius: 5px 5px 0 0;

   
}

.content>.box>.name{
    color: #757575;
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;

}

.content>.box> .detail{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: #757575;
    font-weight: 400;
}


@media (max-width:1200px){
    .desktop>div{
        width: 100%;
        align-items: center;
    }
    .desktop input{
        width: 300px;
    } 

    .content{
        width: 90%;
        grid-template-columns: repeat(2, minmax(45%, 1fr));
        
    }
    .content>.box{
        width: 100%;
        height: 100%;
      
    
    }
    .content>.box> a>img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/2.5;

      
    }
}

@media (max-width:600px){
    .content{
        grid-template-columns: repeat(1, minmax(90%, 1fr));
}
    .desktop>div{
        background-size: 80%;
        background-position:  bottom ;
    }
    .desktop input{
        width: 200px;
    } 

}