
html {
    box-sizing: border-box;
   
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family:"NotoSansTC-Regular";
} 
@font-face {
    font-family:"NotoSansTC-Regular";
    src:url("NotoSansTC-Regular.otf");
}


nav{
    display: flex;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0px;
    z-index: 2;
    border-bottom:1px solid #e8e8e8;
   
   
   
}
.navframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 34px;
    margin: 10px auto;


}
.topic{
    flex: none;
    width: 160px;
    height: 34px;
    margin: 10px;
}
.topic>a{
    text-decoration: none;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
    width: 150px;
    line-height: 34px;
    font-weight: bolder;
    
}
.right{
    flex:auto;
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all 0.25 ease;
    
}
/* .nav-link>a{
    text-decoration: none;
    margin: 10px;
    color: #666666;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
} */
.nav-link>:is(#signin-up-btn,#signout-btn,#member-page).show{
    display:block;
}


.nav-link>:is(#signin-up-btn,#signout-btn,#member-page){
    display: none;
    margin: 10px;
    color: #666666;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px; 
    transition: all 0.25s ease; 
}
.nav-link>#booking-page{
    margin: 10px;
    color: #666666;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    transition: all 0.25s ease; 
}

.nav-link :is(#signin-up-btn,#signout-btn,#member-page,#booking-page):hover{
    color:#448899;
}





.signpage{
    display:none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 3;
    position: fixed;
    top:0px;
  
}
.showup{
    display: block;
}
.signpage>.sign-container{
    display: none;
    width: 340px;
    
    margin: auto;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    margin: 80px auto;
    background-color: white;

}

.sign-container.show{
    display: block;
}




.topbar{
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 10px;
    border-radius: 6px 6px 0 0 ;
}
.form-title{
    width: 310px;
    height: 27px;
    position: relative;
    color: #666666;
    margin: 15px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}
.form-title .close-btn{
    position: absolute;
    cursor: pointer;
    font-weight: normal;
    line-height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
 
}

.form-content{
    width: 310px;
    margin:auto 15px;
}
.input-content>*{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}


.input-content>.verify>input{
    border: 1px solid #cccccc;
    padding: 15px;
    color: #666666;
    font-size: 16px;
    line-height: 13.3px;
    width: 100%;
    border-radius: 5px;  
}

.input-content>button{
    color: #ffffff;
    font-size: 19px;
    line-height: 16px;
    background: #448899;
    border: 0;
    padding: 10px;
    height: 47px;
    cursor: pointer;
}
.form-content .message{
    text-align:center ;
    color: red;
    margin-bottom: 5px;
}

.form-content .convert-sign{
    color: #666666;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 15px;
  
}

.Info-container{
    display:none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 3;
    position: fixed;
    top:0px;
  
}

.Info-container>.order-success{
    display: none;
    width: 340px;
    height: 200px;
    margin: auto;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    margin: 80px auto;
    background-color: white;
    text-align: center;

}
.Info-container>.order-success.show{
    display: block;

}
.verify.invalid >input{
    border-color: rgba(255, 0, 0, 0.8);
}
.verify.valid >input{
    border-color: rgba(8, 176, 8, 0.891);
}

.user-input-msg span{
    font-size: 14px;
    padding-left:10px;
    display: none;
}
:is(.invalid,.valid)>span{
    display: block;
}
.user-input-msg.invalid{
    color: red;
}
.user-input-msg.valid{
    color: green;
    margin: 0; opacity: 0; height: 0px;
    animation:input-animation 1.3s;
}
@keyframes input-animation {
    0% { margin: 0; opacity: 0; height: 0px; }
    70% { margin: 2px 0 5px 0; opacity: 1; height: 14px; }
    100% { margin: 0; opacity: 0; height: 0px; }
}








.ham{
    display: none;
    padding: 2px 5px 0px 5px;
    border: 1px solid  rgba(107, 106, 106, 0.25);
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;

    
}


@media (max-width:600px){
    .ham{
        display: block;
        /* position: absolute;
        right: 10px;
        top:10px */
      
    }
    .nav-link{
        display: none;
    }

    .nav-link.show{
        display: flex;
        position: absolute;
        top: 10px;
        right: 50px;
        opacity: 0.85;
        border-radius: 5px;
        background-color: #dbd6d6;
        flex-direction: column;
        
        
    }
    .nav-link div:hover{
        color: #448899;
    }
   

}
