*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* box-sizing:寬高設定作用在邊框外緣的範圍內 */
}


body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family:"NotoSansTC-Regular";
} 
@font-face {
    font-family:"NotoSansTC-Regular";
    src:url("NotoSansTC-Regular.otf");
}


nav{
    display: flex;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0px;
   
   
}
.navframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 34px;
    margin: 10px auto;


}
.topic{
    flex: none;
    width: 150px;
    height: 34px;
    margin: 10px;
}
.topic>a{
    text-decoration: none;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
    width: 150px;
    line-height: 34px;
    font-weight: bolder;
    
}
.menu{
    flex:auto ;
    text-align: end;
   
}
.menu>a{
    text-decoration: none;
    margin: 10px;
    color: #666666;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    
}
