main{
    margin: auto;
}
.orderinfo-container{
    margin: auto;
}

.orderinfo-container>:is(h2,p,div){
    color: #666666;
    font-weight: bold;
    font-size: 1.5rem;


} 
.orderinfo-container{
    width: 360px;
    margin: 5% 5% 5% 5%;
}
.orderinfo-container>div{
text-align:right;

}
.orderinfo-container>.title{
font-size: 1.5rem;
}
footer{
    height: 100%;
}

@media (max-width:600px){
    .orderinfo-container{
        width: 90%;
    }

}
