<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0b26f16c17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/nav.css" />
    <link rel="stylesheet" href="../static/desktop.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <script src="../static/index.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navframe">
            <div class="topic">台北一日遊</div>
            <div class="menu">
                <a href="/templates/index.html">預定行程</a>
                <a href="/templates/index.html">登入/註冊</a>
            </div>
        </div>
    </nav>
    <section class="desktop">
        <div>
            <div>
                <h3>輕鬆享受台北一日悠閒</h3>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
            </div>
            <form>
                <input type="text" name="search-attraction" placeholder="輸入景點名稱查詢">
                <button type="submit" class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <img class="desktop-img" src="../static/welcome 1.png" alt="">
    </section>
    <div class="content">
        
    </div>



    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
</body>

</html>