<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/thankyou.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navframe">
            <div class="topic"><a href="/">台北一日遊</a></div>
            <div class="nav-link">
                <div id="booking-page">預定行程</div>
                <div id="signin-up-btn" class="show">登入/註冊</div>
                <div id="signout-btn">登出系統</div>
            </div>
        </div>
    </nav>
    <section class="signpage">
        <div class="sign-container show">
            <div class="topbar"></div>
            <div class="form-content">
                <form id="signin">
                    <h3 class="form-title">登入會員帳號
                        <div class="close-btn">✕</div>
                    </h3>
                    <div class="input-content">
                        <input type="email" placeholder="輸入電子信箱" name="email" required>
                        <input type="password" placeholder="輸入密碼" name="password" required>
                        <button type="submit">登入帳戶</button>
                    </div>
                    <p class="message"></p>
                    <p class="convert-sign">還沒有帳戶？點此註冊</p>
                </form>
            </div>
        </div>
     
        <div class="sign-container">
            <div class="topbar"></div>
            <div class="form-content">
                <form id="signup">
                    <h3 class="form-title">註冊會員帳號
                        <div class="close-btn">✕</div>
                    </h3>
                    <div class="input-content">
                        <input type="text" placeholder="輸入姓名" name="name" required>
                        <input type="email" placeholder="輸入電子信箱" name="email" required>
                        <input type="password" placeholder="輸入密碼" name="password" required>
                        <button type="submit">註冊帳戶</button>
                    </div>
                    <p class="message"></p>
                    <p class="convert-sign">已經有帳戶了？點此登入</p>
                </form>
            </div>
        </div> 
        
    </section>
    <main>
        <div class="orderinfo-container">
            <h2 class="orderstatus"></h2>
            <h2 style="font-size:1.5rem">您的訂單編號如下:</h2>
            <p class="orderNum" style="text-align:right"></p>
            <p class =title>姓名:
                <div class="ordername"></div></p>
            <p class =title>狀態:
                <div class ="status"></div></p>
            <p class =title>總金額:
                <div class ="totalPrice"></div></p>
        </div>
        
    </main>
  
    
    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    <script src="../static/js/signin.js"></script>
    <script src="../static/js/thankyou.js"></script>
</body>
</html>